/**
 * Created by Peter Yablochkin.
 * Date: 1-Aug-18
 * Time: 22:40
 */

header {
    color: white;
    background-color: #9b9c99;
    padding: 10px 25px;
}

nav {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

nav button,
.no-border-btn {
    border: none;
    background: none;
}

table .td-btn {
    vertical-align: middle;
}

.search-btn {
    font-size: 20px;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.1);
    transition: all .5s;
}

button i {
    margin: 5px 5px;
}

.btn-add {
    color: black;
    font-size: 15px;
}

.btn-add:hover {
    transform: scale(1.3);
    color: #00b200;
}

#table-add-book,
#table-show-all-books {
    display: none;
}

#message-block {
    font-size: .8rem;
    position: fixed;
    bottom:0;
    left:0;
    background-color: white;
    width: 100%;
    border-top: 1px solid #808080;
}

#message-block ul {
    padding: 15px 0;
    margin: 0 auto;
    list-style: none;
}

.success {
    color: green;
}

.error {
    color: red;
}

